rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwnerOrAdmin() {
      return request.auth.uid == request.resource.data.createdBy.uid || request.auth.token.admin == true;
    }
    match /recipes/{document} {
      allow read: if true;
      allow update: if isOwnerOrAdmin()
        && request.resource.data.updatedAt == request.time
        && (
            request.auth.token.admin == true
            ||
            (
              resource.data.createdBy.uid == request.resource.data.createdBy.uid
              && resource.data.createdBy.username == request.resource.data.createdBy.username
            )
        )
        && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['imageByName', 'viewCount']);
      allow delete: if isOwnerOrAdmin();
      allow create: if isOwnerOrAdmin()
        && request.resource.data.createdAt == request.time
        && request.resource.data.updatedAt == request.time
        && !("imageByName" in request.resource.data)
        && request.resource.data.viewCount == 0;
    }

    match /users/{userId} {
      allow get: if request.auth.uid != null;
    }

    match /usernames/{username} {
      allow get: if true;
    }
  }
}
