$transition: opacity 0.5s ease-in-out;

:host {
  display: block;
  position: relative;
  &.hidden {
    display: none;
  }
}

.processing {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

app-image-with-status {
  height: 100%;
}

:host.animated {
  app-image-with-status {
    --image-with-status-transition: #{$transition};
    --image-with-status-opacity: 0;
    &.visible {
      --image-with-status-opacity: 1;
    }
    &.animated {
      --image-with-status-will-change: opacity;
    }
  }
}

img {
  transition: $transition;
  color: transparent;
  opacity: 0;
  object-fit: cover;
  height: 100%;
  &.visible {
    opacity: 1;
  }
  &.animated {
    will-change: opacity;
  }
}
