:host {
  display: block;
  flex: 1 1 auto;
}

.content {
  display: flex;
  flex-direction: row;
}

app-recipe-directives {
  flex: 1 1 auto;
}

app-recipe-ingredients-list {
  flex: 1 0.3 auto;
}

.left-pane {
  max-width: 350px;
  flex: 1 1.1 auto;
}

.caption {
  margin-top: 0px;
}

app-recipe-image {
  min-height: 150px;
}
