:host {
  display: block;
  flex: 1 1 auto;
}

.header {
  app-recipe-image {
    max-width: 640px;
    margin: auto;
  }
  .caption {
    margin-top: 0px;
  }
  app-recipe-timing {
    align-self: flex-start;
  }
}

.content {
  display: flex;
  flex-direction: row;

  app-recipe-directives {
    flex: 1 1 auto;
  }

  app-recipe-ingredients-list {
    flex: 1 0.3 auto;
  }
}
